@use "../../libs/css/mixin.scss" as *;
@use "../../theme.scss" as *;

$hy-badge-dot-size: 8px !default;
$hy-badge-text-font-size: 11px !default;

@include b(badge) {
  border-radius: 100px;
  @include flex;
  line-height: $hy-badge-text-font-size;
  text-align: center;
  font-size: $hy-badge-text-font-size;
  z-index: 999;

  &--dot {
    height: $hy-badge-dot-size;
    width: $hy-badge-dot-size;
  }

  &--inverted {
    font-size: 13px;
  }

  &--not-dot {
    padding: 2px 5px;
  }

  &--horn {
    border-bottom-left-radius: 0;
  }

  /* 主题色 */
  @include themeColor(primary, var(--hy-theme-color, $hy-primary));
  @include themeColor(primary--inverted, "", "", var(--hy-theme-color, $hy-primary));

  @include themeColor(error, $hy-error);
  @include themeColor(error--inverted, "", "", $hy-error);

  @include themeColor(success, $hy-success);
  @include themeColor(success--inverted, "", "", $hy-success);

  @include themeColor(warning, $hy-warning);
  @include themeColor(warning--inverted, "", "", $hy-warning);

  @include themeColor(info, $hy-info);
  @include themeColor(info--inverted, "", "", $hy-info);

}