@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;

@include b(signature) {
  @include e(content) {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    //background: $-signature-bg;
    //border-radius: $-signature-radius;
    //border: $-signature-border;
  }

  @include e(content-canvas) {
    width: 100%;
  }


  @include e(footer) {
    margin-top: $hy-border-margin-padding-base;
    justify-content: flex-end;
    display: flex;

    :deep(){
      @include b(button) {
        margin-left: $hy-border-margin-padding-base;
      }
    }
  }
}
