@font-face {
  font-family: "iconfont"; /* Project id 4922830 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1747359996006') format('woff2'),
       url('iconfont.woff?t=1747359996006') format('woff'),
       url('iconfont.ttf?t=1747359996006') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feishu-gray:before {
  content: "\e60a";
}

.icon-tishi:before {
  content: "\e643";
}

