@use "../../libs/css/mixin.scss" as *;
@use "../../theme.scss" as *;

/* 暗色主题 */
@include b(theme){
  @include m(dark) {
    @include b(text) {
      color: $hy-dark-color;
    }
  }
}

@include b(text) {
  @include flex(row);
  align-items: center;
  flex-wrap: nowrap;

  &__price {
    font-size: 14px;
    color: $hy-text-color-grey;
  }

  &__value {
    font-size: 14px;
    @include flex;
    flex-wrap: wrap;
    // flex: 1;
    text-overflow: ellipsis;
    align-items: center;

    /*链接*/
    &--link {
      text-decoration: underline;
      color: $hy-primary;
    }

    /*超出出现省略号*/
    &--lines {
      @include multiEllipsis(v-bind(lines));
    }

    @include themeColor(primary, "", "", $hy-primary);
    @include themeColor(warning, "", "", $hy-warning);
    @include themeColor(success, "", "", $hy-success);
    @include themeColor(info, "", "", $hy-info);
    @include themeColor(error, "", "", $hy-error);
    @include themeColor(main, "", "", $hy-light-color);
    @include themeColor(content, "", "", $hy-text-color-grey);
    @include themeColor(tips, "", "",$hy-tips-color);
    @include themeColor(light, "", "", $hy-border-color-light);

  }
}