@use "../../libs/css/mixin.scss" as *;
@use "../../theme.scss" as *;

/* 暗色主题 */
@include b(theme){
  @include m(dark) {
    @include b(back-top) {
      background-color: $hy-dark-background--track;
    }
  }
}

@include b(back-top) {
  @include flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  justify-content: center;
  background-color: #e1e1e1;

  &__tips {
    font-size: 12px;
    transform: scale(0.8);
  }
}